[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglet = "*"
glooey = "*"
perlin-noise = "*"
numpy = "*"
pyfastnoisesimd = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
