[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglet = "*"
glooey = "*"
perlin-noise = "*"
numpy = "*"
aiofiles = "*"

[dev-packages]

[requires]
python_version = "3.9"
